<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<div class="orgLogos">
    <% @organizations.each do |organization| %>
      <div class="eachOrganizationIndex">
        <%= image_tag organization.photo_url %>
        <p><%= link_to 'Show', organization %></p>
        <!-- <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </div>
    <% end %>
</div>
<br>

<%= link_to 'New Organization', new_organization_path %>
