<hr>
<div class="footer">
  <span>
    <%= link_to root_path do %>
       <%= image_tag "vn-logo-center.png", alt: "Veteran Nexus", class: "img" %>
    <% end %>
  </span>
  <span id="socialMediaFooter">
    <%= link_to "https://www.facebook.com/VeteranNexus/", target: :_blank do %>
       <%= image_tag "flatIcon-fb.png", alt: "Veteran Nexus Facebook", class: "img" %>
    <% end %>
    <%= link_to "https://twitter.com/VeteranNexus", target: :_blank do %>
       <%= image_tag "flatIcon-twitter.png", alt: "Veteran Nexus Twitter", class: "img" %>
    <% end %>
  </span>
  <span id="allRights">©2017 Veteran Nexus. All Rights Reserved.</span>
</div>
