<!-- <p id="notice"><%= notice %></p> -->

<!-- <div class="content">
  <div class="sidebar">
    <% @categories.each do |category| %>
    <div class="categoryTypes">
      <span><%= link_to category.name, category_path(category) %></span>
    </div>
    <% end %>
  </div>
</div> -->

<h1>We are about getting Veterans and their families connected into communities.</h1>

  <div class=categoryHolder>
    <% @categories.each do |category| %>
      <div class="categoryTypes">
        <!-- <span><%= link_to 'Edit', edit_category_path(category) %></span> -->
        <!-- <span><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></span> -->
        <div class="categoryName"><%= link_to category.name, category_path(category) %> Groups</div>
        <% category.organizations.each do |organization| %>
          <span class="organizationTypes">
            <hr>
            <%= link_to organization_path(organization) do %>
               <%= image_tag organization.photo_url %>
            <% end %>
            <h2><%= link_to organization.name, organization_path(organization) %></h2>
            <p><%= organization.description %></p>
            <% end %>
          </span>
        </div>
      <% end %>
  </div>




<!-- <%= link_to 'New Category', new_category_path %> -->

<a href="#see">[anchor link to each category]</a>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque inventore repellat possimus laborum culpa, nulla incidunt laudantium corporis, perspiciatis doloribus quod eum cum autem molestiae sed! Provident dolor, facilis!</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque inventore repellat possimus laborum culpa, nulla incidunt laudantium corporis, perspiciatis doloribus quod eum cum autem molestiae sed! Provident dolor, facilis!</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque inventore repellat possimus laborum culpa, nulla incidunt laudantium corporis, perspiciatis doloribus quod eum cum autem molestiae sed! Provident dolor, facilis!</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque inventore repellat possimus laborum culpa, nulla incidunt laudantium corporis, perspiciatis doloribus quod eum cum autem molestiae sed! Provident dolor, facilis!</p>

<span id="see">
<h1>You Did It</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque inventore repellat possimus laborum culpa, nulla incidunt laudantium corporis, perspiciatis doloribus quod eum cum autem molestiae sed! Provident dolor, facilis!</p>
</span>
