<!-- <p id="notice"><%= notice %></p> -->

<!-- <div class="content">
  <div class="sidebar">
    <% @categories.each do |category| %>
    <div class="categoryTypes">
      <span><%= link_to category.name, category_path(category) %></span>
    </div>
    <% end %>
  </div>
</div> -->

<h1>We are about getting Veterans and their families connected into communities.</h1>
  <div class=categoryHolder>
    <% @categories.each do |category| %>
      <div class="categoryTypes">
        <!-- <span><%= link_to 'Edit', edit_category_path(category) %></span> -->
        <!-- <span><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></span> -->
        <div class="categoryName"><%= link_to category.name, category_path(category) %> Groups</div>
        <% category.organizations.each do |organization| %>
          <span class="organizationTypes">
            <hr>
            <h2><%= link_to organization.name, organization_path(organization) %></h2>
            <%= link_to organization_path(organization) do %>
               <%= image_tag organization.photo_url %>
            <% end %>
            <p><%= organization.description %></p>
              <%= link_to organization.facebook, target: :_blank do %>
                 <i class="fa fa-facebook" aria-hidden="true"></i>
              <% end %>
              <%= link_to organization.twitter, target: :_blank do %>
                 <i class="fa fa-twitter" aria-hidden="true"></i>
              <% end %>
              <%= link_to organization.instagram, target: :_blank do %>
                <i class="fa fa-instagram" aria-hidden="true"></i>
              <% end %>
              <%= link_to organization.youtube, target: :_blank do %>
                <i class="fa fa-youtube" aria-hidden="true"></i>
              <% end %>
              <%= link_to organization.linkedin, target: :_blank do %>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </span>
        </div>
      <% end %>
  </div>
